<!DOCTYPE html>
<html>
  <head>
    <title>Fullscreend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = {
          id: "<%= current_user.id %>",
          username: "<%= current_user.username %>",
          email: "<%= current_user.email %>",
        };
      </script>
    <% end %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
