<!DOCTYPE html>
<html>
  <head>
    <title>Fullscreend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = {
          id: "<%= current_user.id %>",
          username: "<%= current_user.username %>",
          email: "<%= current_user.email %>",
        };
      </script>
    <% end %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <script src="
      https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/js/all.min.js
    "></script>
    <script type="text/javascript">
      window.profTV = "<%= image_url('tv.ico') %>"
      window.profHomer = "<%= image_url('homer.ico') %>"
      window.profMarge = "<%= image_url('marge.ico') %>"
      window.profLisa = "<%= image_url('lisa.ico') %>"
      window.profBart = "<%= image_url('bart.ico') %>"
      window.profMaggie = "<%= image_url('maggie.ico') %>"
      window.profGrandpa = "<%= image_url('grandpa-simpson.ico') %>"
      window.profGrandma = "<%= image_url('grandma-bouvier.ico') %>"
      window.profSanta = "<%= image_url('santas-little-helper.ico') %>"
      window.profSnowball = "<%= image_url('snowball-two.ico') %>"
      window.colorBars = "<%= image_url('EBU_Colorbars.svg') %>"
      window.testPoster = "<%= image_url('3368467066_e55f855466_o_deep_fried.png') %>"
      window.static = "<%= image_url('CwD4.gif') %>"
      window.static2 = "<%= image_url('static2.gif') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
