<!DOCTYPE html>
<html>
  <head>
    <title>Fullscreend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = {
          id: "<%= current_user.id %>",
          username: "<%= current_user.username %>",
          email: "<%= current_user.email %>",
        };
      </script>
    <% end %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script type="text/javascript">
      window.profTV = "<%= image_url('tv.ico') %>"
      window.profHomer = "<%= image_url('homer.ico') %>"
      window.profMarge = "<%= image_url('marge.ico') %>"
      window.profLisa = "<%= image_url('lisa.ico') %>"
      window.profBart = "<%= image_url('bart.ico') %>"
      window.profMaggie = "<%= image_url('maggie.ico') %>"
      window.profGrandpa = "<%= image_url('grandpa-simpson.ico') %>"
      window.profGrandma = "<%= image_url('grandma-bouvier') %>"
      window.profSanta = "<%= image_url('santas-little-helper.ico') %>"
      window.profSnowball = "<%= image_url('snowball-two.ico') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
